<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="InventorySysDBEntities" connectionString="metadata=res://*/InventorySys.csdl|res://*/InventorySys.ssdl|res://*/InventorySys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HTR\SQLSERVER2012;initial catalog=InventorySysDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="RequestionService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IRequestionService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="LoginService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="ILoginService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="DisburementService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IDisburementService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="CollectionService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="ICollectionService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="AuthDgAngUnDgService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IAuthDgAngUnDgService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="ItemService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IItemService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>


    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
